<p>Pokedex</p>

<!-- <div *ngFor="let pokemon of pokemons">
  <span>{{ pokemon.name }}</span>
</div> -->

<div class="container">
  <div class="cards">
    <div class="card" *ngFor="let pokemon of pokemons; let antonio = index">
      <div class="content">
        <span class="id">#{{ antonio + 1 }}</span>
        <span class="nome">{{ pokemon.name }}</span>
      </div>
      <div class="img-container">
        <img src="{{ pokemon.sprites.front_default }}" alt="" />
      </div>
    </div>
  </div>
</div>
